<div>
    <h1>Summary</h1>
    <h2><span>Name:</span> {{name}}</h2>
    <h3><span>Work exprerience:</span> {{description}}</h3>

    <h2 class="skills">Skills:</h2>
    <ul>
        <li>1. {{information1}}</li>
        <li>2. {{information2}}</li>
        <li>3. {{information3}}</li>
    </ul>

    <h2>Certifications:</h2>
    <ul>
        <li>{{cert1}}</li>
        <li>{{cert2}}</li>
        <li>{{cert3}}</li>
    </ul>

    <img src="{{image}}">

    <h2>For more information you can look here:</h2>
    <div class="links">
        <a href="https://github.com/Sufferinn">GitHub</a>
        <a href="https://www.youtube.com">YouTube</a>
        <a href="https://twitter.com">Twitter</a>
    </div>

</div>